.hidden {
  display: none;
}

.timerInput {
  display: inline-block;
}

#collapseTwo form input,
#alarmForm input,
#collapseThree form select {
  width: 70px;
}

.timerColon {
  margin: 0px 8px;
}

.inputYear {
  width: 80px !important;
}

/* .removeBorder {
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
}

#canvas {
  width: 400px;
  height: 400px;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  border: none;
}

@media only screen and (max-width: 730px) {
  #canvas {
    width: 200px;
    height: 200px;
  }
  #leftSideHeading {
    font-size: 30px;
  }
}
